:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: oklch(1 0 0 / 0.87);
  --bg-color: oklch(0.2603 0 0);

  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

[data-theme="light"] {
  color: oklch(0 0 0 / 0.87);
  --bg-color: oklch(0.9241 0 0);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 40rem;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}